.fmmua.sheet.item.power {    
    .form-fields, .editor-field {
        flex: 10;
    }

    .pair {
        display: flex;
        align-items: center;
    }

    .tab-headers {
        flex: 2;
    }

    .tab.active {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .macro-container {
        position: relative;
        z-index: 0;
        height: 100%;
        align-items: stretch;
    }

    .macro-input {
        z-index: 2;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        resize: none;
        padding: 0.5em;
    }

    .macro-output {
        z-index: 1;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border: 1px solid transparent;

        > .code {
            height: 100%;
        }
    }

    .macro-input, .macro-output {
        margin: 0;
        font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
        font-size: 14px;
        border-radius: 3px;
    }
}