.power-card {
    min-width: 350px;
    font-size: 16px;
    font-weight: bold;
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px auto;
    grid-template-areas: 'action usage'
                         'text   text';

    & > .action {
        grid-area: action;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0.5em;

        .qfas {
            margin-right: 0.25em;
        }
    }

    & > .usage {
        grid-area: usage;
        display: grid;
        align-items: center;

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'type subtype';

        & > .target {
            display: grid;
            align-items: center;

            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'range damage';

            & > span {
                white-space: nowrap;
                padding-right: 0.5em;
            }
        }
    }

    & > .text {
        grid-area: text;
        font-size: 14px;
        font-weight: 300;
        p {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    .gap-half {
        display: inline-block;
        width: 0.5em;
    }

    .gap-quarter {
        display: inline-block;
        width: 0.25em;
    }

    .qfas {
        --size: 12px;
    }

    .fas {
        font-size: 12px;
        position: relative;
        top: -1px;
    }
    
    // monster powers are always yellow
    &.kind-monster {
        background: var(--orange3-dark);
        .text {
            background: var(--orange3-light);
        }
    }

    // the default colour for various miscellaneous powers is orange
    &:not(.kind-monster) { 
        background: var(--orange2-border);
        .text {
            background: var(--orange2-light);
        }

        // role actions are blue for at-will, red for encounter
        &.action-role {
            &.usage-at-will {
                background: var(--blue3-dark);
                .text {
                    background: var(--blue3-light);
                }
            }
            &.usage-encounter {
                background: var(--red1-dark);
                .text {
                    background: var(--red1-light);
                }
            }
        }

        // attack actions and non-attack class powers are green for at-will, purple for encounter
        &.action-attack, &.kind-class {
            &.usage-at-will {
                background: var(--green2-dark);
                .text {
                    background: var(--green2-light);
                }
            }
            &.usage-encounter {
                background: var(--purple-dark);
                .text {
                    background: var(--purple-light);
                }    
            }
        }
    }
}