.fmmua .item-sheet {
    display: flex;
    flex-direction: column;

    > *:last-child {
        flex: 1;
    }

    .form-fields, .editor-field {
        flex: 10;
    }

    // similar to five <select>s
    .editor-field {
        height: 135px;        
        border: 1px solid #7a7971;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
    }
}