.fmmua.sheet.item {
    form {
        display: flex;
        flex-direction: column;

        > *:last-child {
            flex: 1;
        }
    }

    // similar to five <select>s
    .editor-field {
        min-height: 135px;        
        border: 1px solid #7a7971;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
        
        &:focus-within {
            box-shadow: 0 0 5px red;
        }

        > .editor {
            padding: 0 3px;
        }        
    }   
}