.trait-card {
    min-width: 350px;
    font-size: 16px;
    font-weight: bold;
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px auto;
    grid-template-areas: 'name kind'
                         'text text';

    & > .name {
        grid-area: name;
        padding-left: 0.5em;
    }

    & > .kind {
        grid-area: kind;
        padding-right: 0.5em;
    }

    & > .text {
        grid-area: text;
        font-size: 14px;
        font-weight: 300;
        p {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    /* card colors */
    &.kind-class-feature {
        background: var(--blue2-dark);
        .text {
            background: var(--blue2-light);
        }
    }

    &.kind-role-boost {
        background: var(--red1-dark);
        .text {
            background: var(--red1-light);
        }
    }

    &.kind-other {
        background: var(--orange2-dark);
        .text {
            background: var(--orange2-light);
        }
    }
}