.fmmua.sheet.actor.character {    
    nav.tab-headers {
        flex: 0;
        align-self: center;
        margin-right: 20px;
        min-width: 140px;
        
        display:flex;
        flex-direction: column;
        font-size: 20px;
        
        > a {
            white-space: nowrap;
            //text-decoration: underline;

            &.active::before {
                content: "> ";
            }
        }
    }

    article.tab-content {
        flex: 1;
    }

    .bg-choice {
        background: var(--blue1-light);
    }

    .bg-choice-alt {
        background: var(--blue1-dark);
    }

    .fg-choice {
        color: var(--blue1-dark);
    }
}