.fmmua.sheet.actor.character {
    .sheet-header h1 input {
        width: initial;
        margin: initial;
    }

    .sheet-header h1 {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-column-gap: 0.5em;
        align-items: center;
    }

    nav.tab-headers {
        margin-right: 20px;
    }

    .bg-choice {
        background: var(--blue1-light);
    }

    .bg-choice-alt {
        background: var(--blue1-dark);
    }

    .fg-choice {
        color: var(--blue1-dark);
    }
}