.fmmua.sheet.actor.character {    
    .bg-choice {
        background: var(--blue1-light);
    }

    .bg-origin {
        background: var(--orange-light);
    }

    .bg-class {
        background: var(--blue2-light);
    }

    .bg-role {
        background: var(--red1-light);
    }

    .feats {
        --section-background: var(--orange2-light);
        --section-border: var(--orange2-border);
        --section-header: var(--orange2-dark);
    }    

    .role {
        --section-background: var(--red1-light);
        --section-border: var(--red1-border);
        --section-header: var(--red1-dark);
    }

    .klass {
        --section-background: var(--blue2-light);
        --section-border: var(--blue2-border);
        --section-header: var(--blue2-dark);
    }
    
    .trait {
        display: flex;
        align-items: flex-start;
        img {
            background: url(/ui/parchment.jpg) repeat;
        }
        h4 {
           flex: 1;
           margin: 0;
           padding: 0 0.5em 0 0.5em;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
        }
        a {
            margin-right: 0.5em;
        }
    }

    .powers {
        --section-background: white;
        --section-border: #999;
        --section-header: rgba(0, 0, 0, 0.1);
        flex: 1;
        
        .cards {
            padding: 7px 7px 0 7px;

            column-count: auto;
            column-width: 350px;
            column-gap: 7px;

            .power {
                break-inside: avoid;
                margin: 0 0 7px 0;                
                position: relative;                
                
                .commands {
                    float: right;
                    display: flex;
                    align-items: flex-end;
                }

                a {
                    margin-right: 0.5em;
                }
            }
        }
    }
}