.fmmua.sheet.actor.character {    
    .bg-choice {
        background: var(--blue1-light);
    }

    .bg-choice-alt {
        background: var(--blue1-dark);
    }

    .fg-choice {
        color: var(--blue1-dark);
    }
}