.fmmua.sheet.actor.monster {
    .bg-stat {
        background: var(--monster-even);
    }

    .traits, .powers {
        --section-background: var(--monster-odd);
        --section-header: var(--monster-header);
        --section-border: var(--monster-matching-border);
    }    

    .misc {
        --section-background: var(--green1-light);
        --section-header: var(--green1-dark);
        --section-border: var(--green1-border);  
        flex: 1;
    }
}