.fmmua.sheet.actor.monster {
    .bg-stat {
        background: var(--orange3-very-light);
    }

    .traits {
        --section-background: var(--orange3-light);
        --section-header: var(--orange3-dark);
        --section-border: var(--orange3-border);
    }    

    .powers {
        --section-background: white;
        --section-border: #999;
        --section-header: rgba(0, 0, 0, 0.1);
    }

    .misc {
        --section-background: var(--green1-light);
        --section-header: var(--green1-dark);
        --section-border: var(--green1-border);  
        flex: 1;
    }
}