.fmmua.sheet.actor {
    form {
        display: flex;
        flex-direction: column;

        section {
            margin-top: 1em;
            background: var(--section-background);
            border: 2px solid var(--section-border);
            display: flex;
            flex-direction: column;
    
            & > h3 {
                padding-left: 1em;
                margin-bottom: 0;
                background: var(--section-header);
                border-bottom: 2px solid var(--section-border);
            }

            .editor-content, .tox-edit-area {
                padding-left: 0.5em;
            }

            &.items {
                & > h3 {
                    position: relative;    
                    & > a {
                        position: absolute;
                        right: 0.5em;
                        top: 2px;
                        font-size: 14px;
                    }
                }
            }

            > .items {
                border-top: 2px solid var(--section-border);
            }

            .trait {
                padding-left: 0.5em;

                > a:last-child {
                    margin-right: 0.5em;
                }
            }

            .overlay-ne {
                > a {
                    padding: 0 0.5em;
                    background: white;
                }
            }
        }
    }

    .stat-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .stat-row {
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .stat-row {
        align-self: center;
        margin-top: 0.5em;        
    }

    .stat-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 0.5em;
        align-items: center;
    }

    .trait {
        display: flex;
        align-items: flex-start;

        > .name {
            font-weight: 600;
            &::after {
                content: ":\00a0";
            }
        }

        > .text {
            flex: 1;
            overflow: hidden;
            > p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;    
                }
            }
        }


        > a {
            margin-right: 0.5em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .effect {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        grid-column-gap: 0.5em;

        > .icon {
            width: 16px;
            height: 16px;
            background: black;
        }
    }

    .cards {
        background: white;
        padding: 7px 7px 0 7px;

        column-count: auto;
        column-width: 350px;
        column-gap: 7px;

        .item {
            break-inside: avoid;
            padding: 0 0 7px 0;                
            position: relative;                
            
            .commands {
                float: right;
                display: flex;
                align-items: flex-end;
            }

            a {
                margin-right: 0.5em;
            }
        }
    }
}