@mixin palette {
    /* palette of colours used on character sheets - could use some rationalisation and redesign, but it's nice to have it look like the PDF */
    /* background traits */
    --background-odd: #CDE4CF;
    --background-even: #84BB87;    
    --background-matching-border: #70AC30; /* i made this one up */

    /* origin traits - doesn't look orange to me, but that's what the PDF says */
    --origin-odd: #F9EAB4;
    --origin-even: #EFCB47;

    /* player-option traits */
    --option-odd: #B9C9E4;
    --option-even: #5D80BE;

    /* condition checkboxes */
    --condition-content: #D08F90;

    /* class powers on tactical sheet */
    --class-content: #A2B7DA; 
    --class-header: #5D80BE;
    --class-border: #214AA3;

    /* feats on tactical sheet */
    --feat-content: #F3E2AB;
    --feat-header: #E7C559;    
    --feat-border: #E1B733;

    /* role powers on tactical sheet */
    --role-content: #D9A5A7;
    --role-header: #B54D4F;
    --role-border: #A52226;

    /* monster statblocks */
    --monster-odd: #F5E7BA;
    --monster-even: #F8EFD1;     
    --monster-header: #ECD482;
    --monster-matching-border: #F9C053; /* actually used for sidebars */

    /* power statblocks */
    --at-will-header: #84BB87;
    --at-will-content: #CDE4CF;
    --encounter-header: #B74FBC;
    --encounter-content: #D59AD9;
    --special-header: #E1B733;
    --special-content: #F3E2AB;
}