.fmmua {
    /* palette of colours used on character sheets - could use some rationalisation and redesign, but it's nice to have it look like the PDF */
    /* background traits */
    --green-light: #CDE4CF;
    --green-dark: #84BB87;
    /* i made this one up */
    --green-border: #70AC30;
    /* origin traits - doesn't look orange to me, but that's what the PDF says */
    --orange-light: #F9EAB4;
    --orange-dark: #EFCB47;
    /* player-option traits */
    --blue-light: #B9C9E4;
    --blue-dark: #5D80BE;
    /* class powers on tactical sheet, with blue-dark as the header */
    --blue-alternate: #A2B7DA; 
    --blue-border: #214AA3;
    /* feats on tactical sheet */
    --yellow-light: #F3E2AB;
    --yellow-dark: #E7C559;    
    --yellow-border: #E1B733;
    /* condition checkboxes */
    --red-light: #D08F90;
    /* role powers on tactical sheet */
    --red-light: #D9A5A7;
    --red-dark: #B54D4F;
    --red-border: #A52226;    
}

.fmmua-visible-tooltip > .dice-tooltip {
    display: inherit;
}

.fmmua.sheet .sheet-header h1 input {
    width: 98%;
}

.fmmua.sheet label.checkbox {
    font-size: 14px;
}

.fmmua.sheet input.box2 {
    width: 2em;
}
.fmmua.sheet input.box10 {
    width: 10em;
}

.fmmua.sheet .editor {
    height: 100%;
}

.fmmua.sheet .editor .tox-toolbar-overlord,
.fmmua.sheet .editor .tox-toolbar__primary {
  background: none;
}

.fmmua .actor-sheet {
    display: flex;
    flex-direction: column;
}

.fmmua .actor-sheet .pairs {
    display: flex;
    flex-direction: column;;
}

.fmmua .actor-sheet .pair-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    margin-top: 0.5em;
}

.fmmua .actor-sheet .pair {
    white-space: nowrap;
    margin-right: 1em;
}

.fmmua .actor-sheet .pair > label {
    padding-right: 0.5em;
}

.fmmua .actor-sheet .pair > input {
    border: 1px solid #A9A9A9;
}

.fmmua .actor-sheet .bg-choice {
    background: var(--blue-light);
}

.fmmua .actor-sheet .bg-class {
    background: var(--blue-alternate);
}

.fmmua .actor-sheet .bg-role {
    background: var(--red-light);
}

.fmmua .actor-sheet section {
    margin-top: 1em;
    background: var(--section-background);
    border: 2px solid var(--section-border);
    display: flex;
    flex-direction: column;
}

.fmmua .actor-sheet section > h3 {
    padding-left: 1em;
    margin-bottom: 0;
    background: var(--section-header);
    border-bottom: 2px solid var(--section-border);
}

.fmmua .actor-sheet .features {
    --section-background: var(--yellow-light);
    --section-border: var(--yellow-border);
    --section-header: var(--yellow-dark);
}

.fmmua .actor-sheet .role {
    --section-background: var(--red-light);
    --section-border: var(--red-border);
    --section-header: var(--red-dark);
}

.fmmua .actor-sheet .klass {
    --section-background: var(--blue-alternate);
    --section-border: var(--blue-border);
    --section-header: var(--blue-dark);
}

.fmmua .actor-sheet .bio {
    --section-background: var(--green-light);
    --section-border: var(--green-border);
    --section-header: var(--green-dark);
    flex: 1;
}

.fmmua .actor-sheet .bio > div {
    flex: 1;
}