.overlay-ne {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    > :first-child {
        grid-area: 1/2/2/3;
        z-index: 1;
    }
    > :last-child {
        grid-area: 1/1/3/3;
    }
}