.fmmua.sheet {  
    .sheet-header h1 input {
        width: 98%;
    }

    label.checkbox {
        font-size: 14px;
    }

    input.box2 {
        width: 2em;
        max-width: 2em;
    }
    
    input.box10 {
        width: 10em;
        max-width: 10em;
    }
    
    table, textarea {
        border: 1px solid #7a7971;
    }
    
    .editor {
        height: 100%;
        .tox {
            height: 100%;
        }
        .tox-toolbar-overlord,.tox-toolbar__primary {
            background: none;
        }
    }

    .stat-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .pair {
        white-space: nowrap;
        
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }

        & > label {
            padding-right: 0.5em;
        }
    }

    form {
        &.editable {
            .locked-only {
                display: none;
            }
        }
    
        &.locked {
            .editable-only {
                display: none;
            }

            table, textarea, select, .editor-field {
                border: none;
                color: #4b4a44;
            }
        }
    }

    nav.tab-headers {
        flex: 0;
        align-self: center;
        
        display:flex;
        flex-direction: column;
        font-size: 20px;
        
        > a {
            white-space: nowrap;
            color: #005B97;
            //text-decoration: underline;

            &.active {
                text-shadow: 0 0 10px #FFF200;
            }
        }
    }

    article.tab-content {
        flex: 1;
    }

    .form-group.final-text {
        flex: 1;
        align-items: stretch;
    }
}

.fmmua-visible-tooltip > .dice-tooltip {
    display: inherit;
}

// TinyMCE creates <strong> elements, which in firefox are "font-weight: bolder", doing nothing in the context of the chatlog's explicit weights
// normalize them to what Chrome (and therefore Electron) does 
strong {
    font-weight: bold;
}